@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + label {
    border-color: #22c55e;
    background-color: #dcfce7;
}

.popup {
    position: absolute;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.popup-content {
    padding: 5px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(38, 38, 38, 0.2);
}
.popup-close {
    width: 3px;
    height: 3px;
    align-self: center;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.pl-4\.5 {
    padding-left: 1.125rem/* 14px */;
}